.main {
  font-family: var(--font-lato);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  gap: 2rem;
  gap: clamp(2rem, 0.9rem + 1.3vw, 4rem);
}
